.container {
	margin: 5rem auto;
	border: 5px solid orange;
	position: relative;
}
.img {
	width: 100%;
	height: 50%;
}
.buttonsWrapper {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
}
.decButton {
	background: orange;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}
.incButton {
	float: right;
	background: orange;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}
